<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Desktop -->
    <div class="sides">
        <div class="ticket-container">
            <div class="ticket-top">
                <div class="date-box">
                    <div>
                        <span class="mon">ორშაბათი, 1 იანვ</span>
                    </div>
                    <div class="arrive">
                        <span>გამგზავრება</span>
                        <div class="goose-plus">
                            <img class="goose" src="./assets/icon1.svg" alt="">
                            <span class="plusbtn">+2</span>
                        </div>
                    </div>
                </div>
                <div class="top-bottom">
                    <div class="top">
                        <p class="time">14:00</p>
                        <div class="img-container">
                            <img class="air-plane" src="./assets/Vector.svg"
                                alt="">
                            <div class="circle-box">
                                <img class="circle" src="./assets/circle.png"
                                    alt="">
                                <img class="line" src="./assets/line.png"
                                    alt="">
                                <img class="circle" src="./assets/circle.png"
                                    alt="">
                                <img class="line" src="./assets/line.png"
                                    alt="">
                                <img class="circle" src="./assets/circle.png"
                                    alt="">
                            </div>

                        </div>
                        <p class="time">09:10</p>
                    </div>
                    <div class="center">
                        <div class="air-container">
                            <p class="air-info">თბილისი(TBS)</p>
                            <div class="air-box">
                                <p class="air-middle-info">1 გაჩერება</p>
                                <p class="air-middle-info">ჯამში: 3სთ,20</p>
                            </div>
                            <p class="air-info">პარიზი(CDG)</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="border">
                            <img src="./assets/clock.png" alt="" class="clock">
                            <p class="p-border">8 საათი, 20 წუთი</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ticket-bottom">
                <div class="date-box">
                    <div>
                        <span class="mon">შაბათი, 29 აპრ</span>
                    </div>
                    <div class="arrive">
                        <span>დაბრუნება</span>
                        <div class="goose-plus">
                            <img class="goose" src="./assets/icon1.svg" alt="">
                            <span class="plusbtn">+2</span>
                        </div>
                    </div>
                </div>
                <div class="top-bottom">
                    <div class="top">
                        <p class="time">14:00</p>
                        <div class="img-container">
                            <img class="air-plane" src="./assets/Vector.svg"
                                alt="">
                            <div class="circle-box">
                                <img class="circle" src="./assets/circle.png"
                                    alt="">
                                <img class="line" src="./assets/line.png"
                                    alt="">
                                <img class="circle" src="./assets/circle.png"
                                    alt="">
                                <img class="line1" src="./assets/line1.png"
                                    alt="">
                                <img class="circle" src="./assets/circle.png"
                                    alt="">
                                <img class="line2" src="./assets/line2.png"
                                    alt="">
                                <img class="circle" src="./assets/circle.png"
                                    alt="">
                            </div>

                        </div>
                        <p class="time">09:10</p>
                    </div>
                    <div class="center">
                        <div class="air-container">
                            <p class="air-info">ნიუ იორკი(NY)</p>
                            <div class="air-box">
                                <p class="air-middle-info">2 გაჩერება</p>
                                <p class="air-middle-info">ჯამში: 3სთ,20</p>
                            </div>
                            <p class="air-info">პარიზი(CDG)</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="border">
                            <img src="./assets/clock.png" alt="" class="clock">
                            <p class="p-border">8 საათი, 20 წუთი</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-container">
                <div class="b-cont">
                    <p class="p-cont">ეკონომ კლასი</p>
                </div>

                <div class="b-cont">
                    <p class="p-cont">2 მგზავრი</p>
                </div>

                <div class="b-cont">
                    <p class="p-cont">20 კგ ბარგი</p>
                </div>
            </div>
        </div>
        <div class="pay-box">
            <div class="pay-b">
                <div class="top-pay">
                    <div class="price">
                        <h1 class="h1-payment">640₾</h1>
                        <h2 class="h2-inst">განვადება თვეში: 72.33₾-დან</h2>
                    </div>
                    <div class="book">
                        <button class="reserv">დაჯავშნა</button>
                    </div>
                </div>
                <div class="detail">
                    <h1 class="h1-detail">დეტალურად ნახვა</h1>
                </div>
            </div>
        </div>

        <!-- Mobile -->
        <div class="mobile">
            <div class="mobile-sides">
                <div class="top-mobile">
                    <h2 class="h2-mob">თბილისი <img class="vector"
                            src="./assets/Vector1.png" alt="">
                        პარიზი</h2>
                    <div class="mob-tick">
                        <div class="mob-tick-t">
                            <h1 class="mob-time">10:45</h1>
                            <div class="circle-box">
                                <img src="./assets/circle.png" alt=""
                                    class="circle">
                                <img src="./assets/515.png" alt=""
                                    class="line1">
                                <img src="./assets/Vector.svg" alt=""
                                    class="plane">
                                <img src="./assets/circle.png" alt=""
                                    class="circle1">
                                <img src="./assets/516.png" alt=""
                                    class="line2">
                                <img src="./assets/circle.png" alt=""
                                    class="circle2">
                            </div>
                            <h2 class="mob-time">03:10</h2>
                        </div>
                        <div class="mob-tick-b">
                            <p class="tick">1 გაჩერება</p>
                            <p class="tick">ფრენა: 5სთ 20</p>
                        </div>
                    </div>
                </div>
                <div class="bot-mobile">
                    <div class="pay-b-mob">
                        <button class="reserv-mob">640₾</button>
                        <p class="h2-inst-mob">განვადება თვეში: 72.33₾-დან
                        </p>
                        <p class="h1-detail-mob">ვრცლად</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>